body {
	text-align: center;
	margin: auto;
}

h1 {
	font-family: 'Acme', sans-serif;
}

.flag {
	border: 2px solid;
	width: 16px;
	height: 16px;
	position: relative;
	right: 2px;
	bottom: 2px;

}

.bomb {
	background-color: white;
	border: 2px solid;
	width: 16px;
	height: 16px;
}

.x {
	border: 2px solid;
	width: 16px;
	height: 16px;
	position: relative;
	bottom: 26px;
	right: 2px;
}

.flagged {
	position: relative;
	bottom: 2px;
	right: 2px;
}

.red {
	background-color: red;
	position: relative;
	bottom: 18px;
	right: 2px;
}

.section {
	text-align: center;
}

.grid-container {
	display: grid;
	grid-gap: 1px;
	grid-template-rows: minmax(20px);
	justify-content: center;
	padding-top: 50px;	
}

.square {
	background: #264d73;
	border: 2px solid;
	font-size: 12px;
	font-family: 'Acme', sans-serif;
	cursor: default;
}

.counter {
	font-family: 'Acme', sans-serif;
	font-size: 25px;
}