body {
	text-align: center;
	margin: auto;
}

h1 {
	font-family: 'Acme', sans-serif;
}

.flag {
	background-color: green;
	border: 2px solid;
	width: 16px;
	height: 16px;
}

.section {
	text-align: center;
}

.grid-container {
	display: grid;
	grid-gap: 1px;
	grid-template-rows: minmax(20px);
	justify-content: center;
	padding-top: 50px;	
}

.square {
	background: green;
	border: 2px solid;
	font-size: 12px;
	font-family: 'Acme', sans-serif;
	cursor: default;
}

.counter {
	font-family: 'Acme', sans-serif;
	font-size: 25px;
}